@import "../../sassUtils/mixins.scss";

.loader {
  background-color: #ffffff;
  width: 40%;
  padding: 1rem 1rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 2rem;
  @include mobile {
    width: 40%;
  }
  @include tablet {
    width: 40%;
  }
}
