@import "../../sassUtils/mixins.scss";

.placeholderContainer {
  width: 40%;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 5px;
  height: 14.6rem;

  @include mobile {
    padding: 1rem 1rem;
  }

  @include tablet {
    padding: 1rem 1rem;
  }

  &__text {
    text-align: center;
    font-size: 2rem;

    @include mobile {
      font-size: 1.5rem;
    }
  }
}
