@import "../../sassUtils/mixins.scss";

.placeholderContainer {
  border: 1px solid black;
  width: 40%;
  padding: 2rem 2rem;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 5px;
  height: 10rem;

  @include mobile {
    padding: 1rem 1rem;
  }

  @include tablet {
    padding: 1rem 1rem;
  }

  &__button {
    width: rem;
    height: 4rem;
    background-color: red;
  }
}
