@import "../../sassUtils/mixins.scss";

.nominationsBox {
  border: 1px solid black;
  width: 20%;
  padding: 2rem 2rem;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 20px;
  height: 20rem;

  &__list {
    padding-left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-item {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2rem;
      button {
        width: 6rem;
        height: 2rem;
      }
    }
  }
}
