@import "../../sassUtils/mixins.scss";
@import "../../sassUtils/fonts.scss";

body {
  height: 100vh;
  background-color: #2f3136;
  box-sizing: border-box;

  @include mobile {
    margin: 0rem 0rem;
  }
  @include tablet {
    margin: 0rem 0rem;
  }
}

.appContainer {
  margin: 0 auto;
  font-family: $didact;
  min-height: 100%;
}

.topContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  &__title {
    color: #ffffff;
    margin-left: 1rem;
    @include mobile {
      font-size: 1.5rem;
    }
  }
}

.bottomContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.footerSpacer {
  margin-top: 5rem;
  height: 2rem;
  width: 2rem;
}
