@import "../../sassUtils/mixins.scss";
@import "../../sassUtils/fonts.scss";

body {
  height: 100vh;
  background-color: darkcyan;
  box-sizing: border-box;
  margin: 2rem 2rem;
}

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  font-family: $didact;
}

.titleContainer {
  align-self: flex-start;
  &__title {
    text-align: start;
  }
}

.dynamicContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
